<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Event Category</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Create Event Category</h1>
<nav th:replace="fragments1 :: navigation"></nav>

<form method="post" action="/eventCategories/create">
    <label for="name">Category Name:</label>
    <input type="text" id="name" th:field="${eventCategory.name}" placeholder="Enter Category Name">
    <p class="error" th:errors="${eventCategory.name}"></p>
    <input type="submit" value="Create Category">
</form>

</body>
</html>
